{% load static %}

<div class="header-bottom header-sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">

                <div class="main-menu d-none d-md-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'whats_new' %}">What's new</a></li>
                            <li><a href="{% url 'news' %}">News</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>

                        </ul>
                    </nav>
                </div>
            </div>


            <div class="col-12">
                <div class="mobile_menu d-block d-md-none"></div>
            </div>
        </div>
    </div>
</div>
</div>



